
{% block content %}

<p>Merci pour votre réponse, le conseiller blablabla vous recontactera le plus rapidment possible.
    Vous avez reçu un récapitulatif de vos réponses par mail. 
    Pour rester informé de nos nouveautés suivez-nous sur les réseaux sociaux ! 
    Vous pouvez vous rendre sur le site Immoval.com aussi. 
</p>

{% endblock %}