{% block content %}
<nav>
    <ul>
        <li>
            <a href="{{ path('app_home') }}" class="linknav">ACCUEIL</a>
        </li>
        <li>
            <a href="{{ path('app_formulaire_index') }}" class="linknav">FORMULAIRE</a>
        </li>
        <li>
            <a href="{{ path('app_login_index') }}" class="linknav">CONNEXION</a>
        </li>
    </ul>
</nav>
{% endblock %}