{% block content %}

<div class="hstack gap-3">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="p-2">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link"href="{{ path('app_home') }}" class="linknav">ACCUEIL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_formulaire_index') }}" class="linknav">FORMULAIRE</a>
        </li>
        <li>
        </div>
        <div class="p-2 ms-auto">
            <button class="btn btn-sm btn-outline-secondary" type="button">
            <a class="nav-link" href="{{ path('app_security_login') }}">CONNEXION</a>
            </button>
        </li>
    </div>
    </ul>
</nav>
</div>
{% endblock %}